<footer class="bg-body-tertiary pt-3 pb-5 pb-lg-3">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-lg-2 footer-logo">
        <img src="images/logo.png" alt="">
      </div>
      <div class="col-lg-4 d-lg-block d-none">
        <div class="d-flex justify-content-end socialIcons">
          <a href="javascript:void(0);" class="me-3"><img src="images/facebook1.svg" alt=""></a>
          <a href="javascript:void(0);" class="me-3"><img src="images/twitter1.svg" alt=""></a>
          <a href="javascript:void(0);" class="me-3"><img src="images/linkedin.svg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row gx-0 gx-lg-3">
      <div class="col-12 col-lg-2 footerItems">
        <h5 class="footer-title slidecollapse">About Meuwic<i></i></h5>
        <div class="content">
          <h6 class="footer-subTitle">Who We Are</h6>
          <ul class="footerServicesList">
            <li><a href="about-us.html">About Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-8 footerItems">
        <h5 class="footer-title text-lg-center slidecollapse">Services<i></i></h5>
        <div class="content">
          <div class="row">
            <div class="col-6 col-lg-4">
              <h6 class="footer-subTitle">Cloud Services</h6>
              <ul class="footerServicesList">
                <li><a href="devops.html">Devops</a></li>
                <li><a href="secops.html">SecOps</a></li>
                <li><a href="javascript:void(0);">Consultation & Migrations</a></li>
                <li><a href="javascript:void(0);">Containerzation Solutions</a></li>
                <li><a href="obervability-Monitoring.html">Observability & Monitoring Solutions</a></li>
                <li><a href="manageService.html">Managed services</a></li>
                <li><a href="Incident-Management.html">Incident Management</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-4">
              <h6 class="footer-subTitle">IT Services</h6>
              <ul class="footerServicesList">
                <li><a href="javascript:void(0);">Custom IT Services</a></li>
                <li><a href="javascript:void(0);">Networking</a></li>
                <li><a href="javascript:void(0);">O365 & SharePoint</a></li>
                <li><a href="javascript:void(0);">suite Gmail Support</a></li>
              </ul>
            </div>
            <div class="col-6 col-lg-4">
              <h6 class="footer-subTitle">BPO/KPO</h6>
              <ul class="footerServicesList">
                <li><a href="javascript:void(0);">Solutions for Fintech</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-lg-none d-block my-3">
      <div class="d-flex justify-content-start socialIcons">
        <a href="javascript:void(0);" class="me-3"><img src="images/facebook1.svg" alt=""></a>
        <a href="javascript:void(0);" class="me-3"><img src="images/twitter1.svg" alt=""></a>
        <a href="javascript:void(0);" class="me-3"><img src="images/linkedin.svg" alt=""></a>
      </div>
    </div>
    <div class="col-12 mt-3 text-center copyright">
      <p>copyright &copy cloud 2023</p>
    </div>
  </div>
</footer>